.employees {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 100%;
  text-align: center;
  max-width: 800px;
  border: 1px black solid;

  &__header {
    flex-direction: row;
    margin: 15px 10px;
    font-weight: bold;

    & div {
      width: 20%;
      display: inline-block;
    }
  }
}

.employee {
  flex-direction: row;
  margin-bottom: 20px;

  &__prop {
    width: 20%;
    display: inline-flex;
    justify-content: center;

    &--button {
      padding: 5px 10px;
      margin: 0 5px;
    }
  }
}
